<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<header>
			<%- include('../partials/header'); %>
		</header>

		<main>
			Its about EJS
		</main>
		
		<footer>
			<%- include('../partials/footer'); %>
		</footer>		
	</body>
</html>
